#board{
    /* border: 5px solid red; */
    margin: 0;
    width: auto;
    height: auto;

    display: inline-block;
}

.start{
    fill: green;
}

.end{
    fill: red;
}

.visited{
    fill: #008BF8;
    animation-name: visited;
    animation-duration: 2s;
    /* animation-delay: 2; */
}

.unvisited{
    fill: white;
}

.wall{
    fill: #000;

}

@keyframes wallAnimation{
    0% {
        transform: scale(0.3);
        fill: rgb(255, 255, 255);
    }
    50% {
        transform: scale(1.3);
        fill: rgb(179, 179, 179);
    }
    100% {
        transform: scale(1.0);
        fill: rgb(75, 75, 75);
    }
}

@keyframes visitedAnimation{
    0% {fill: white;}
    100% {fill: #008BF8;}
}


/* .unvisited{
    fill: green;
} */

/* rect:hover{
    fill:red;
    opacity: 0.5;
} */